
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-height: 100%;
}

.flex {
	display: flex;	
    flex-direction: column;
   	min-height: 100%;
   	text-align: center;
	font-size: 18px;
}

.items {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 10px;
	padding: 20px;
}

.items > li {
	padding: 5px;
}

.header {
	display: flex;
	background-color: #d4b80c;
	justify-content: space-between;
	align-items: center;
}


.main {
	display: flex;
	flex-direction: row;
	text-align: center;
	width: 100%;
	flex: 1 0 auto;

}

.box-1 {
	min-width: 210px;
	background-color: #c899ba;
	order: 1;
	padding: 10px;
	height: 100vh;
}

.box-2 {
	padding: 30px;
	order: 2;;
}

.box-3 {
	min-width: 210px;
	background-color: #9db3c8;
	order: 3;
	padding: 10px;
	height: 100vh;
}

.footer {
	background-color: #87ed87;
	flex: 0 0 auto;
    padding: 10px;
    text-align: center;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 32%;
	margin-bottom: 10px;
	border: 3px solid grey;
	border-radius: 10%;
	font-size: 16px;
	padding: 5px;
}

.center {
	flex-grow: 1;
	order: 2;
	padding: 30px;
}

.button {
	border-radius: 15px;
	background-color: #685174;
	color: #ffffff;
	border: none;
	text-align: center;
	font-size: 16px;
	padding: 5px;
	width: 60px;

}

.item > p {
	flex-grow: 1;
}

.item > * {
	margin: 10px;
}

.view {
	height: 100px;
	width: 100px;
	border: 10px solid #c7b7b7;
	border-radius: 50%;
}

h1 {
	padding: 10px;
}